country:
  iso3: "CHE"
  name: "Switzerland"
  enabled: true

inputs:
  tabular:
    - id: "tab_main"
      path: "data/raw/CHE/census.csv"
      format: "csv"
      delimiter: ","
      encoding: "UTF-8"
      columns:
        admin_id_raw: "Gemeindenummer"
        admin_name: "Gemeindename"
        year: "Jahr"
        population: "Zähleinheit"
      population_filter: "Ständige Wohnbevölkerung - Total"
      year_filter: [1850, 1860, 1870, 1888, 1900, 1910, 1920, 1930, 1941, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]

  geometry:
    - id: "geom_main"
      path: "data/raw/CHE/Shapefile/g1g20.shp.shp"
      format: "shapefile"
      layer: null
      columns:
        admin_id_raw: "GMDNR"
        admin_name: "GMDNAME"
      source_crs: "EPSG:21781"

harmonization:
  crosswalk_file: "config/crosswalks/CHE.csv"
  tabular_join_key: "Gemeindenummer"
  polygon_join_key: "GMDNR"
  aggregation:
    population: "sum"
  unmatched_policy: "fail"

assemblies:
  - id: "main_panel"
    target_unit_id: "ADM_HARM_CHE_V1"
    tabular_recipe:
      strategy: "single"
      use_inputs: ["tab_main"]
    geometry_recipe:
      strategy: "single"
      use_inputs: ["geom_main"]

qa_override:
  join_coverage_min: 0.99
